{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Hero images -->
<section class="hero-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-image-text">
                <h1 class="display-4 text-uppercase font-weight-bold d-block d-lg-none text-white brand-text-style">
                    Sportsporium
                </h1>
                <p class="text-white welcome-text-style">
                    Check new collections!
                </p>
                <p>
                    <a href="{% url 'products' %}" class="shop-now-button logo-font font-weight-bold text-black btn btn-md rounded-0 px-3">Shop Now</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}