<footer class="footer text-center text-lg-start text-black bg-color-heather">
    <section>
        <div class="container-fluid mx-auto pt-1">
            <div class="row">
                <!-- Left: usefull likns -->
                <div class="col-12 col-md-4 mx-auto">
                    <h5 class="logo-font font-weight-bold text-black footer-item">Contact Us</h5>
                    <p class="footer-item">Send an email to get in touch with the site admin!</p>
                    <p class="footer-item" id="Email-link"><strong>Email:</strong>
                        <a class="footer-item" href="mailto:roabb2121@gmail.com" target="_blank" id="email-id">
                            roabb2121@gmail.com
                        </a>
                    </p>
                </div>
                <!-- Right: social links -->
                <div class="col-12 col-md-4 mx-auto">
                    <h5 class="logo-font font-weight-bold text-black footer-item">Social Media</h5>
                    <ul class="social-icons p-0 mt-3">
                        <li><a class="twitter" target="_blank" href="https://twitter.com/" rel="noopener noreferrer"
                            aria-hidden="false" aria-label="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="instagram" target="_blank" href="https://www.instagram.com/" rel="noopener noreferrer"
                            aria-hidden="false" aria-label="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a class="facebook" target="_blank" href="https://facebook.com/" rel="noopener noreferrer"
                            aria-hidden="false" aria-label="facebook"><i class="fa fa-facebook"></i></a></li> 
                    </ul>
                </div>
            </div>
            <!-- copyright -->
            <div class="row">
                <small class="col-12 pb-2 mx-auto copyright text-black mb-3">
                    copyright © 2021 Sportsporium For Educational Purposes Only
                </small>
            </div>
        </div>
    </section>
</footer>